body {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100vh;
}

.column {
  width: calc(25% - 20px);
  padding: 20px;
  height: 100%;
  text-align: center;
  h3 {
    margin: 0;
    text-transform: uppercase;
  }
  .new-button {
    margin: 10px 0;
  }
  &.red {
    background-color: #d43f3f;
  }
  &.yellow {
    background-color: #d2c85d;
  }
  &.blue {
    background-color: #5dbcd2;
  }
  &.green {
    background-color: #70d25d;
  }
}

.card {
  width: 100%;
  padding: 20px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
